.green-dot {
    width: 9px;
    height: 9px;
    background-color: green;
    border-radius: 50%;
}

p{
    color:aliceblue;
    font-weight:500;
    
}
p:hover {
        color: goldenrod;
        transition-duration: 200ms;
        cursor:pointer;

}