@inherits LayoutComponentBase
  @inject RickAndMortyBlazorV1.Service.IRickAndMortyService rickMortyApi  
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
  
        <article style="background-color: #272b33;">
            @Body
        </article>
          <div style="background-color:#212328 !important;">
             <Footer info="info"></Footer> 
           
        </div>  
    </main>
</div>

@code{
    public Dictionary<string, string> info { get; set; } = new();
    protected override async Task OnInitializedAsync()
    {
        var characters = await rickMortyApi.GetUrl<Character>("https://rickandmortyapi.com/api/character");
        var locations = await rickMortyApi.GetUrl<Location>("https://rickandmortyapi.com/api/location");
        var episodes = await rickMortyApi.GetUrl<Episode>("https://rickandmortyapi.com/api/episode");
        info.Add("character", characters.Info.Count.ToString());
        info.Add("location", locations.Info.Count.ToString());
        info.Add("episode", episodes.Info.Count.ToString());
        var episodes1 = await rickMortyApi.GetAllEpisodes();
        rickMortyApi.Episodes = episodes1.ToList();
    }
 
}  
